/* App.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}
html, body {
  margin: 0;
  padding: 0;
  background-color:   #010713
}


#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color:   #010713
}
